<div *ngIf="shift">
    <section>
        <div class="container">
            <div class="columns ">
                <div class="column is-narrow">
                    <h3 class="title is-3">Stück: {{shift.name}}</h3>
                    <h4 class="title is-4">Datum: {{shift.start}}</h4>
                    <div class="field is-grouped is-grouped-multiline"
                        *ngFor="let place of shift.places; let i = index">
                        <div class="control">
                            <input class="input is-warning" type="text" value="{{place.name}}" readonly>
                        </div>
                    </div>
                    <div *ngIf="placesAvailable()">
                        <div class="control">
                            <input class="input is primary" type="text" placeholder="Dein Name">
                        </div>
                        <br>
                        <div class="control">
                            <button class="button is-primary" (click)="goBack()">eintragen</button>
                        </div>



                    </div>

                </div>
            </div>

            <div class="columns">
                <button class="button is-danger" (click)="goBack()">zurück</button>


            </div>
        </div>
    </section>
</div>